<div class="jumbotron">
    <h1>DiscussIt</h1>
    <p>DiscussIt is a resource for sharing and learning with the world!</p>
    <p>
        <%= link_to "Sign In", new_session_path %> or
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discuss Anything</h2>
        <p>Have an opinion? Want to share it? You've come to the right place.</p>
    </div>
    <div class="col-md-4">
        <h2>Learn Everything</h2>
        <p>Want to learn more about a certain subject? DiscussIt has thousands of topics you can choose from.</p>
    </div>
    <div class="col-md-4">
        <h2>Teach Everyone</h2>
        <p>Want to share your knowledge about a certain subject? Create a new topic and have discussions with thousands of people.</p>
    </div>
</div>
